@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/*ESTILOS GENERALES DE TODA LA PAGINA*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --crl0: #FFFFFF;
    --crl1: #222328;
    --crl2: #0052A4;
    --crl3: #0052A4;
}

body{
    background: var(--crl1);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/*ESTILOS DEL CONTENEDOR DEL HEADER*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*ESTILOS PARA LA IMAGEN DE FONDO EN EL HEADER*/
.header {
    background-image: url(HB_Desarrollador.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    display: flex;
    align-items: center;
    position: relative;
}

/*ESTILOS PARA EL MENU Y LA BARRA DE NAVEGACIÓN*/
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFBF00;
    font-size: 25px;
    font-weight: 700;
}

.logo:hover {
    color: #0404B4;
}

.logo img {
    width: 100px;
    height: 50px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFBF00;
    display: block;
    text-decoration: none;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #0404B4;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/*ESTILOS PARA EL HEADER O CABECERA DE LA PAGINA*/
.header-content {
    text-align: center;
    margin-top: 50px;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

/*ESTILOS SECCION INICIO*/
.Inicio {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 50px 15px;
}

.Inicio h1 {
    margin-top: 15px;
    font-size: 2rem;
}

.Inicio .text-inicio {
    width: 100%;
    max-width: 700px;
}

.Inicio .text-inicio p {
    margin-top: 10px;
    text-align: justify; 
}

/*ESTILOS PARA EL SLIDER AUTOMATICO*/
.slider-content{
    text-align: center;
    padding: 40px 15px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.slider-content .titulo{
    font-size: 2rem;
}

.slider-content span{
    color: #C5C5C5;
    font-weight: 300;
}

.slider-box{
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    margin-top: 20px;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.slider-box img{
    width: 100%;
}

.ir-descargas {
    text-align: center;
    padding: 20px 0;
    margin-top: -50px;
}

.btn-todo{
    display: inline-block;
    padding: 11px 35px;
    background-color: #0489B1;
    color: #F9FAFC;
    text-transform: uppercase;
    text-decoration: none; 
    margin-bottom: 20px;
}

.btn-todo:hover{
    background-color: #58D3F7;
    color: #000000;
}

/*ANIMACIÓN PARA EL SLIDER*/
@keyframes slide{
    0%{
        margin-left: 0;
    }
    20%{
        margin-left: 0;
    }
    25%{
        margin-left: -100%;
    }
    45%{
        margin-left: -100%;
    }

    50%{
        margin-left: -200%;
    }
    70%{
        margin-left: -200%;
    }
    75%{
        margin-left: -300%;
    }
    100%{
        margin-left: -300%;
    }
}

/* Estilos para la sección de calificaciones y opiniones */
.section-header {
    text-align: center;
    margin-bottom: 50px;
    margin-top: -60px;
}

.section-header .titulo {
    font-size: 35px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.testimonials {
    padding: 100px 0px;
    margin: 0 auto;
    
}

.testimonials-content{
    margin-top: -15px;
    overflow: hidden;
    max-width: 1900px; 
    padding: 20px;
    margin-bottom: -70px;
}

.testimonials-item {
    background-color: #323337;
    border-radius: 30px;
    max-width: 500px; 
    padding: 20px; 
    margin: 0px 0px;
    overflow: hidden;
}

.testimonials-item .info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.testimonials-item img {
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.testimonials-item .name {
    font-size: 24px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    line-height: 1.2;
}

/*ESTILOS PARA MOSTRAR LA PAGINACIÓN (...)
.testimonials .swiper-pagination {
    position: relative;
    margin-top: 40px;
    bottom: auto;
}

.testimonials .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background-color: hsl(0, 0%, 100%);
}*/

.testimonials .swiper-pagination {
    display: none;
}

.testimonials-item .job {
    color: hsl(0, 0%, 60%);
}

.testimonials-item p {
    color: hsl(0, 0%, 90%);
}

.testimonials-item .rating {
    font-size: 14px;
    color: hsl(36, 88%, 66%);
    display: flex;
    margin-bottom: 15px;
}

.rating i {
    color: hsl(36, 88%, 66%);
    margin-right: 5px; 
}

.swiper-wrapper {
    display: flex;
    transition-property: transform;
    transition-duration: 0.5s;
    will-change: transform;
}

.swiper-slide {
    flex-shrink: 0;
    width: auto; 
    position: relative;
    display: flex;
    justify-content: center;
}

/*RESPONSIVE DESING TESTIMONIAL RAITING*/
@media (max-width: 1200px) {
    .testimonials-item {
        max-width: 450px;
    }

    .testimonials-content{
        margin-top: -30px;
        max-width: 1900px;
        padding: 20px;
        margin-bottom: -30px;
    }
}

@media (max-width: 992px) {
    .testimonials-item {
        max-width: 400px;
    }

    .testimonials-content{
        margin-top: -30px;
        max-width: 1900px;
        padding: 20px;
        margin-bottom: -30px;
    }
}

@media (max-width: 768px) {
    .testimonials-item {
        max-width: 100%;
    }

    .testimonials {
        padding: 50px 0;
        margin: 0 10px;
        margin-top: 30px;
    }

    .testimonials-content{
        margin-top: -30px;
        max-width: 1900px;
        padding: 20px;
        margin-bottom: -30px;
    }
}

@media (max-width: 576px) {
    .testimonials-item {
        padding: 15px;
    }

    .testimonials-item img {
        margin-bottom: 10px;
    }

    .testimonials-content{
        margin-top: -30px;
        max-width: 1900px;
        padding: 20px;
        margin-bottom: -30px;
    }
}


/*ESTILOS PARA LA SECCIÓN DE NOTICIAS Y ACTUALIZACIONES*/
.noticias {
    text-align: center;
    padding: 40px 15px;
    margin-top: -60px;
    margin-bottom: 20px;
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span{
    color: #C5C5C5;
    font-weight: 300;
}

.blog-heading h3{
    margin-top: 30px;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.blog-box{
    width: 100%;
    max-width: 350px;
    background-color: var(--crl1);
    box-shadow: 0px 0px 20px #0080FF;
    margin: 20px;
    border-radius: 10px;
}

.blog-img{
    width: 100%;
    height: auto;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-position: center;
}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color: #FFBF00;
}

.blog-text .blog-titulo{
    font-size: 1.3rem;
    font-weight: 500;
    color: #FFFFFF;
}

.blog-text .blog-titulo:hover{
    color: #0489B1;
    transition: all ease 0.3s;
}

.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0;
}

.blog-text a{
    color: #FFBF00;
}

.blog-text a:hover{
    color: #0489B1;
}

.ir-blog {
    text-align: center;
    padding: 20px 0;
    margin-top: -70px;
}

/*ESTILOS PARA SECCIÓN IR-CONTACTO*/
.ir-contacto {
    text-align: center;
    padding: 20px 0;
    margin-top: -25px;
}

.ir-contacto h1 {
    justify-content: center;
    text-align: center;
    margin-bottom: 17px;
}

.ir-contacto p {
    margin-bottom: 17px;
}

.btn-contacto {
    display: inline-block;
    padding: 11px 35px;
    background-color: #0489B1;
    color: #F9FAFC;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 20px;
}

.btn-contacto:hover {
    background-color: #58D3F7;
    color: #000000;
}


/*ESTILOS PARA EL FOOTER*/
.footer{
    padding: 30px 15px;
    background-color: #151515;
    color: #fff;
    text-align: center;
}

.footer-content{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer p {
    margin: 10px 0 0;
    color: #fff;
}

.footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons ion-icon {
    font-size: 24px;
}

/*RESPONSIVE DESIGN*/
@media(max-width:991px){
    .logo img {
        width: 100px;
        height: 50px;
    }

    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li a:hover{
        color: #FAFAFA;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .footer {
        padding: 30px;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

}

@media(max-width:550px){
    .blog-box {
        margin: 20px 10px;
        width: 100%;
    }

    .slider-box {
        width: 100%;
    }

    .header-content h1 {
        font-size: 2rem;
    }

    .header-content p {
        padding: 0 15px;
    }
}
